*.iml
.gradle
/local.properties
/.idea/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
build/
**/build/
.kotlin/
/captures
.externalNativeBuild
.cxx
local.properties
app/release/
.idea/deploymentTargetSelector.xml
controller/release/controller-release.apk
controller/release/output-metadata.json
controller/release/baselineProfiles/0/controller-release.dm
controller/release/baselineProfiles/1/controller-release.dm
